footer {
    background: rgba(0, 0, 0, 0.712);
    padding: 5%;

    li{
        padding-top: 2%;
    }

    a {
        color: white;
        text-decoration: none;
    }

    .fas {
        padding-right: 10px;
    }
}