footer {
    background: rgba(0, 0, 0, 0.712);
    padding: 5%;

    img {
        filter: invert(100%); /* permet d'inverser les couleurs de l'image donc ici mettre le logo en blanc */
        width: 100px;
        margin-bottom: 3%;
    }

    li{
        padding-top: 2%;
    }

    a {
        color: white;
    }

    .fas {
        padding-right: 10px;
    }
}