footer {
    background: rgba(0, 0, 0, 0.801);
    padding: 5%;

    @include ordinateur {
        padding: 3%;
    }

    img {
        filter: invert(100%); /* permet d'inverser les couleurs de l'image donc ici mettre le logo en blanc */
        width: 100px;
        margin-bottom: 3%;

        @include ordinateur {
            margin-bottom: 0;
        }
    }

    li{
        padding-top: 2%;

        @include ordinateur {
            padding-top: 1%;
        }
    }

    a {
        color: white;
    }

    .fas {
        padding-right: 10px;
    }
}