/* Animation pour faire apparaitre le menu de bas en haut */
@mixin animation-glissement {
    /* pour prendre chaque élément un par un et les faire apparaitre avec un délai entre chaque */ 
    @for $i from 1 through 5 {
        .plat_description:nth-child(#{$i}) { 
            animation: glissement 700ms forwards;
            animation-delay: #{$i * 0.25}s;
        }
    } 

    @keyframes glissement {
        0% {
            transform: translateY(30px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}