@import "../utils/variables";

button {
    color: white;
    background: linear-gradient($couleur-secondaire, $couleur-primaire);
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 190px;

    box-shadow: 5px 5px 5px rgb(201, 198, 198);

    &:hover {
        box-shadow: 5px 5px 5px #9c9a9a;
        background: linear-gradient(hsl(317, 90, 70), hsl(267, 90, 70));
    }
}

/* Bouton "J'aime" en forme de coeur */ 
/* A faire !!! */
.fa-heart {
    font-size: 20px;
    
    &:hover {
        background: linear-gradient($couleur-secondaire, $couleur-primaire);       
    }

}