@import "../utils/variables.scss";

button {
    color: white;
    background: linear-gradient($couleur-secondaire, $couleur-primaire);
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 190px;
}