@import "../utils/variables";

/* Animation pour ajouter les plats que l'user souhaite à sa commande */
.plat_check {
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 65px;
    
    .fa-check-circle {
        color: transparent;
        position: absolute;
        font-size: 20px;
        padding: 20px;

        /* pour centrer l'icone check */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);        
    }
}

/* Au survol de la souris */
.plat_description:hover .plat_check {
    background-color: $couleur-tertiaire;
    border-radius: 0 10px 10px 0;
    animation: affichage-check 1s reverse; /* 200ms*/
}

.plat_description:hover .fa-check-circle { 
    color: white;
    animation: rotation-check 1s;
}

.plat_description:hover .plat_prix {
    transform: translateX(-100%);
    margin-left: 15%;
    margin-right: 15%;
}

/* ----- Animations ------- */
/* Pour faire la rotation du check */
@keyframes rotation-check{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotation-check-off{
    0%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

/* Pour afficher progressivement le check */
@keyframes affichage-check {
    0% {
        width: 0px;
    }
    50% {
        width: 33px;
    }    
    100% {
        width:65px;
    }
}

@keyframes affichage-check-off {
    0% {
        width: 65px;
    }
    50% {
        width: 33px;
    }    
    100% {
        width:0px;
    }
}