@import "../utils/variables";

/* Animation pour ajouter les plats que l'user souhaite à sa commande */
.plat_check {
    background-color: $couleur-tertiaire;
    border-radius: 0 10px 10px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 65px;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-in-out;

    @include tablette {
        width: 80px;
    }

    @include ordinateur {
        width: 90px;
    }
    
    .fa-check-circle {
        color: white;
        position: absolute;
        font-size: 20px;
        padding: 20px;

        /* pour centrer l'icone check */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);        
    }
}

/* ------ Au survol de la souris ------- */
/* Apparition du check */
.plat_description:hover .plat_check {
    background-color: $couleur-tertiaire;

    transform: scaleX(1);
}

/* Rotation de l'icone */
.plat_description:hover .fa-check-circle { 
    color: white;
    animation: rotation-check 1s;
}

/* Déplacement du prix */
.plat_description:hover .plat_prix {
    transform: translateX(-100%);
    margin-left: 15%;
    margin-right: 15%;

    @include tablette {
        margin-left: 10%;
        margin-right: 10%;
    }

    @include ordinateur {
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* ----- Animations ------- */
/* Pour faire la rotation du check */
@keyframes rotation-check{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
