/* Police pour le texte */
* {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-size: 20px;
    font-weight: bold;
}


/* Police pour les titres des menus
h1 {
    font-family: 'Shrikhand', cursive;
} */