/* Police pour le texte */
* {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    padding: 8% 0 5% 3%;
}

p {
    font-size: 15px;
}


/* Police pour les titres des menus
h1 {
    font-family: 'Shrikhand', cursive;
} */