@import "../utils/variables.scss";

/* Pour la localisation */
#localisation {
    background-color: rgb(209, 206, 206);
    border-top: 2px solid grey;
    font-weight: bold;
    padding: 10px 0 10px 0;
    text-align: center;
}

/* Pour la présentation */
#presentation {
    background-color: rgb(233, 231, 231);
    padding: 5% 2% 8% 2%;
    text-align: center;

    h1 {
        padding: 0 45px 0 45px; 
    }

    p {
        color: rgb(116, 112, 112);
        margin: 15px 0 25px 0;
    }
}

/* Etape de fonctionnement */
#fonctionnement {
    p {
        background-color: rgb(233, 231, 231);
        border-radius: 20px;
        width: 250px;
        height: 50px;
        text-align: center;
    }
}

.step {
    background-color: $couleur-primaire;
    color: white;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}