@import "../utils/variables";

.menu_image {
    
    img {
        width: 100%;
        height: 270px;
        object-fit: cover;
    }
    
}

.menu {
    background-color: $couleur-principal-fond;
    border-radius: 35px 35px 0 0;
    transform: translate(0%, -5%);
    padding-bottom: 1%;

    &_entete {
        padding: 6% 4% 0 4%;
        position: relative;
    }

    &_coeur {
        transform: translate(-50%, -11%);

        .fa-heart {
            font-size: 24px;  
        }
    }
}

.plat {
    /* animation pour faire apparaitre les plats */
    @include animation-glissement ();

    &_titre {
        font-weight: normal;
        text-transform: uppercase;
        font-size: 16px;
        width: 10%;
        border-bottom: 2px solid $couleur-tertiaire;
        padding-bottom: 1% ;
        padding-left: 0;
        margin-left: 5%;
        margin-bottom: 3%;
    }

    &_description {
        position: relative;
        background-color: white;
        border-radius: 10px;
        margin: 4%;
        padding: 3% 3% 3% 2%;
        box-shadow: 0 5px 5px rgb(223, 221, 221);

        animation: affichage-check 300ms reverse;
        /*animation: affichage-check 300ms reverse;*/

        &:hover{
            cursor: pointer;
        }

        &--aligne {
            display: flex;
            justify-content: space-between;
            flex-grow: 60px;
        }
    }

    &_prix {
        font-weight: bold;
        margin-right: 3%;
        transition: transform 1s;
    }

    &_texte {
        flex-grow: 1;

        white-space: nowrap;
        overflow:hidden; /* contenu rogné */       
        text-overflow: ellipsis; /* pour rajouter ... quand le prix bouge*/
    }
}

/* Pour positionner le bouton commander */
article {
    .bouton {
        display: flex;
        justify-content: center;
        transform: translate(0%, -100%);
        background-color: $couleur-principal-fond;
        
        padding-bottom: 30%;
        transform: translate(0%, 40%);
    }
}
